In [57]:
import requests,openpyxl
from bs4 import BeautifulSoup as bs
import pandas as pd
headers = {'Accept-Language': 'en-US,en;q=0.5'}

In [48]:
excel = openpyxl.Workbook()
sheet = excel.active
sheet.title = 'Top Rated TV Series'

In [51]:
sheet.append(['Movie Rank','Movie Name','Year Of Release','IMDB Rating'])

##Top 250 TV series from IMDB all time list

In [101]:
source = requests.get('https://www.imdb.com/chart/toptv/',headers = headers)
soup = bs(source.text,'html.parser')

In [27]:
series = soup.find('tbody',class_ = "lister-list").find_all('tr')
print(len(series))

250

In [69]:
movie_name = []
year_ = []
rating_ = []
rank_=[]

In [102]:
for s in series:

  name = s.find('td',class_="titleColumn").a.text
  movie_name.append(name)
  rank = s.find('td',class_="titleColumn").get_text(strip=True).split('.')[0]
  rank_.append(rank)
  year = s.find('td',class_="titleColumn").span.text.strip('()')
  year_.append(year)
  rating = s.find('td',class_="ratingColumn imdbRating").strong.text
  rating_.append(rating)

  sheet.append([rank, name, year, rating])

In [103]:
excel.save('IMDB TV Series.xlsx')

In [104]:
a = {'Movie Rank': rank_,'Movie Name' : movie_name,'Year Of Release' : year_,'IMDB Rating' : rating_}
Series = pd.DataFrame.from_dict(a,orient='index').reset_index(drop = True).transpose()
Series.columns=['Series Rank','Series Name','Year Of Release','IMDB Rating']
Series.head(10)

  Series Rank                  Series Name Year Of Release IMDB Rating
0           1              Planet Earth II            2016         9.4
1           2                 Breaking Bad            2008         9.4
2           3                 Planet Earth            2006         9.4
3           4             Band of Brothers            2001         9.4
4           5                    Chernobyl            2019         9.3
5           6                     The Wire            2002         9.3
6           7               Blue Planet II            2017         9.2
7           8   Avatar: The Last Airbender            2005         9.2
8           9  Cosmos: A Spacetime Odyssey            2014         9.2
9          10                 The Sopranos            1999         9.2